<div class="signup-form">
  <form>
    <h2 class="text-center">Admin Sign In</h2>
    <hr>
    <div class="form-group">
      <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-paper-plane"></i></span>
        <input type="email" class="form-control" name="email" placeholder="Email Address" required="required">
      </div>
    </div>
    <div class="form-group">
      <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-lock"></i></span>
        <input type="password" class="form-control" name="password" placeholder="Password" required="required">
      </div>
    </div>
    <div class="form-group text-center">
      <button routerLink="/admin/foodcourts/viewall" class="btn btn-primary btn-lg">Sign In</button>
    </div>
  </form>
</div>
