<h3 align='center'><u>{{title}}</u></h3>
<div class="container">
  <form #formRef="ngForm" (ngSubmit)="onSubmit(formValue)" novalidate>
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" name="name" [(ngModel)]="foodcourt.name" required
        #nameRef="ngModel">
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input type="text" class="form-control" id="email" name="email" [(ngModel)]="foodcourt.email" required
        #emailRef="ngModel">
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" id="password" name="password" [(ngModel)]="foodcourt.password"
        required #passwordRef="ngModel">
    </div>
    <div class="form-group">
      <label for="mobile">Contact Number</label>
      <input type="text" class="form-control" id="mobile" name="mobile" [(ngModel)]="foodcourt.mobile" required
        #mobileRef="ngModel">
    </div>
    <div class="form-group">
      <label for="gst">GST Number</label>
      <input type="text" class="form-control" id="gst" name="gst" [(ngModel)]="foodcourt.gst" required
        #gstRef="ngModel">
    </div>
    <div class="form-group">
      <label for="Validity">Validity</label>
      <input type="text" class="form-control" id="validity" name="validity" [(ngModel)]="foodcourt.validity" required
        #validityRef="ngModel">
    </div>
    <div class="form-group">
      <label for="locality">Locality</label>
      <input type="text" class="form-control" id="locality" name="locality" [(ngModel)]="foodcourt.locality" required
        #localityRef="ngModel">
    </div>
    <div class="form-group">
      <label for="city">City</label>
      <input type="text" class="form-control" id="city" name="city" [(ngModel)]="foodcourt.city" required
        #cityRef="ngModel">
    </div>
    <div class="form-group">
      <label for="image">Change Banner Image?</label>
      <input type="file" class="form-control-file" id="image" name="image">
    </div>
    <div class="text-center">
      <button type="submit" class="btn btn-info" [disabled]="formRef.invalid">Update Foodcourt</button>&nbsp;&nbsp;
      <button routerLink="/admin/foodcourts/viewall" class="btn btn-danger">Cancel
        Update</button>
    </div>
  </form>
</div>

<br /><br /><br /><br /><br /><br />