<h2 align='center'><u>{{title}}</u></h2>
<div class="container">
  <h3><u>Update Foodcourt</u></h3>
  <form #formRef="ngForm" novalidate>
    <div class="form-group">
      <label for="description">Description</label>
      <input type="text" class="form-control" id="description" name="description" required minlength="3">
    </div>
    <div class="form-group">
      <label for="severity">Severity</label>
      <select class="form-control" name="severity" required>
        <option>
          test
        </option>
      </select>
    </div>
    <div class="form-group">
      <label for="status">Status</label>
      <select class="form-control" name="status" required>
        <option>
          test
        </option>
      </select>
    </div>
    <div class="form-group">
      <label for="cd">Created date</label>
      <input type="text" class="form-control" id="cd" name="cd">
    </div>
    <div class="form-group">
      <label for="rd">Resolved date</label>
      <input type="text" class="form-control" id="rd" name="rd">
    </div>
    <button type="submit" class="btn btn-info" [disabled]="formRef.invalid">Submit</button>
  </form>
</div>

<br /><br /><br /><br /><br /><br />
<br /><br /><br /><br /><br /><br /><br />
