<!-- All Food courts -->
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h3 class="page-header text-center">KFC Chennai!</h3>
      <div class="row placeholders">
        <div class="col-sm-9 placeholder">
          <table class="table table-hover" style="text-align: left;">
            <thead>
              <tr>
                <th></th>
                <th>Item Name</th>
                <th>Availability</th>
                <th>Price</th>
                <th>Quantity</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><img src="https://dummyimage.com/50x50/55595c/fff" /> </td>
                <td>Mushroom Soup</td>
                <td>Hot Selling!</td>
                <td>$150</td>
                <td class="qty">
                  <span class="minus-span minus bg-dark">-</span>
                  <input type="number" class="qty-input count" name="qty" value="1">
                  <span class="plus-span plus bg-dark">+</span>
                </td>
              </tr>
              <tr>
                <td><img src="https://dummyimage.com/50x50/55595c/fff" /> </td>
                <td>Tomato Soup</td>
                <td>Available!</td>
                <td>$200</td>
                <td class="qty">
                  <span class="minus-span minus bg-dark">-</span>
                  <input type="number" class="qty-input count" name="qty" value="1">
                  <span class="plus-span plus bg-dark">+</span>
                </td>
              </tr>
              <tr>
                <td><img src="https://dummyimage.com/50x50/55595c/fff" /> </td>
                <td>Vegetable Soup</td>
                <td>Out Of Stock!</td>
                <td>$100</td>
                <td class="qty">
                  <span class="minus-span minus bg-dark">-</span>
                  <input type="number" class="qty-input count" name="qty" value="1">
                  <span class="plus-span plus bg-dark">+</span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-sm-3 placeholder">
          <table class="table table-hover" style="text-align: left;">
            <thead>
              <tr>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Email</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>John</td>
                <td>Doe</td>
                <td>john@example.com</td>
              </tr>
              <tr>
                <td>Mary</td>
                <td>Moe</td>
                <td>mary@example.com</td>
              </tr>
              <tr>
                <td>July</td>
                <td>Dooley</td>
                <td>july@example.com</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<br />
<br />
<br />
<br />


<div class="container" style="width: 90%;">
  <div class="row">
    <div class="col-12">
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th scope="col"> </th>
              <th scope="col">Product</th>
              <th scope="col">Available</th>
              <th scope="col" class="text-center">Quantity</th>
              <th scope="col" class="text-right">Price</th>
              <th> </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><img src="https://dummyimage.com/50x50/55595c/fff" /> </td>
              <td>Product Name Dada</td>
              <td>In stock</td>
              <td><input class="form-control" type="text" value="1" /></td>
              <td class="text-right">124,90 €</td>
              <td class="text-right"><button class="btn btn-sm btn-danger"><i class="fa fa-trash"></i> </button> </td>
            </tr>
            <tr>
              <td><img src="https://dummyimage.com/50x50/55595c/fff" /> </td>
              <td>Product Name Toto</td>
              <td>In stock</td>
              <td><input class="form-control" type="text" value="1" /></td>
              <td class="text-right">33,90 €</td>
              <td class="text-right"><button class="btn btn-sm btn-danger"><i class="fa fa-trash"></i> </button> </td>
            </tr>
            <tr>
              <td><img src="https://dummyimage.com/50x50/55595c/fff" /> </td>
              <td>Product Name Titi</td>
              <td>In stock</td>
              <td><input class="form-control" type="text" value="1" /></td>
              <td class="text-right">70,00 €</td>
              <td class="text-right"><button class="btn btn-sm btn-danger"><i class="fa fa-trash"></i> </button> </td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td>Sub-Total</td>
              <td class="text-right">255,90 €</td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td>Shipping</td>
              <td class="text-right">6,90 €</td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td><strong>Total</strong></td>
              <td class="text-right"><strong>346,90 €</strong></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col mb-2">
      <div class="row">
        <div class="col-sm-12  col-md-6">
          <button class="btn btn-block btn-light">Continue Shopping</button>
        </div>
        <div class="col-sm-12 col-md-6 text-right">
          <button routerLink="/checkout" class="btn btn-lg btn-block btn-success text-uppercase">Checkout</button>
        </div>
      </div>
    </div>
  </div>
</div>
