<!-- All Food courts in your location! -->
<div class="container-fluid">
  <div class="row" style="text-align: center;">
    <h3 class="page-header text-center" style="padding-top: 10px;">All Food courts in your location!</h3>
    <div class="col-lg-4" *ngFor="let foodcourt of foodcourts; index as i">
      <img class="img-circle" src={{foodcourt.img}} alt="Generic placeholder image" width="150" height="150">
      <h3>{{foodcourt.name}}</h3>
      <p>{{foodcourt.address.locality}} - {{foodcourt.address.city}}</p>
      <p><a class="btn btn-primary" [routerLink]="['consumer/order', foodcourt.id]" role="button">Order Food Online
          »</a></p>
    </div>
  </div>
</div>

<!-- Hot selling Food courts! -->
<div class="container">
  <h3 class="page-header text-center" style="padding-top: 50px;">Hot selling Food courts!</h3>
  <div class="row">
    <div class="col-md-12">
      <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="2000">
        <ol class="carousel-indicators">
          <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-example-generic" data-slide-to="1"></li>
          <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="item active">
            <a href="#">
              <img src="./assets/images/courasel/img1.jpg" alt="First slide">
              <div class="carousel-caption">
                <h3>
                  Foodcourt - 1</h3>
                <p>
                  Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
              </div>
            </a>
          </div>

          <div class="item">
            <a href="#">
              <img src="./assets/images/courasel/img2.jpg" alt="Second slide">
              <div class="carousel-caption">
                <h3>
                  Foodcourt - 2</h3>
                <p>
                  Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
              </div>
            </a>
          </div>
          <div class="item">
            <a href="#">
              <img src="./assets/images/courasel/img3.jpg" alt="Third slide">
              <div class="carousel-caption">
                <h3>
                  Foodcourt - 3</h3>
                <p>
                  Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
              </div>
            </a>
          </div>
        </div>
        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span></a><a class="right carousel-control"
          href="#carousel-example-generic" data-slide="next"><span class="glyphicon glyphicon-chevron-right">
          </span></a>
      </div>
    </div>
  </div>
</div>

<!-- Top Rated Food courts -->
<div class="container" style="text-align: center;">
  <div class="row">
    <div class="col-sm-12">
      <h3 class="page-header text-center" style="padding-top: 50px;">Top Rated Food courts!</h3>
      <div class="row placeholders">
        <div class="col-xs-6 col-sm-3 placeholder">
          <a href="#">
            <img src="./assets/images/all/img1.jpg" width="auto" height="auto" class="img-responsive"
              alt="Generic placeholder thumbnail">
            <h4>Foodcourt - 1</h4>
          </a>
        </div>
        <div class="col-xs-6 col-sm-3 placeholder">
          <a href="#">
            <img src="./assets/images/all/img2.jpg" width="auto" height="auto" class="img-responsive"
              alt="Generic placeholder thumbnail">
            <h4>Foodcourt - 2</h4>
          </a>
        </div>
        <div class="col-xs-6 col-sm-3 placeholder">
          <a href="#">
            <img src="./assets/images/all/img3.jpg" width="auto" height="auto" class="img-responsive"
              alt="Generic placeholder thumbnail">
            <h4>Foodcourt - 3</h4>
          </a>
        </div>
        <div class="col-xs-6 col-sm-3 placeholder">
          <a href="#">
            <img src="./assets/images/all/img4.jpg" width="auto" height="auto" class="img-responsive"
              alt="Generic placeholder thumbnail">
            <h4>Foodcourt - 4</h4>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>