<!-- All Food courts -->
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h3 class="page-header text-center">{{fName}} - {{address}}, {{city}}</h3>
      <div class="col-md-8">
        <table class="table table-hover" style="text-align: left;">
          <thead>
            <tr>
              <th colspan="5" style="text-align: center;">
                <h3>Available Items!</h3>
              </th>
            </tr>
            <tr>
              <th></th>
              <th>Item Name</th>
              <th>Availability</th>
              <th>Price</th>
              <th>Quantity</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of items; let i = index">
              <td><img src={{item.img}} /> </td>
              <td>{{item.name}}</td>
              <td>{{item.availability}}</td>
              <td>{{item.price}}</td>
              <td class="qty">
                <span class="minus-span minus bg-dark" id="minus{{i}}"
                  (click)="removeItem(i, item.name, item.price)">-</span>
                <input type="number" class="qty-input count" id="counter{{i}}" name="qty" value="0" disabled>
                <span class="plus-span plus bg-dark" id="plus{{i}}" (click)="addItem(i, item.name, item.price)">+</span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-md-4">
        <table class="table table-hover" style="text-align: left;">
          <thead>
            <tr>
              <th colspan="4" style="text-align: center;">
                <h3>Your orders</h3>
              </th>
            </tr>
            <tr>
              <th>Item name</th>
              <th>Quantity</th>
              <th>Price</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let order of orders">
              <td>{{order.name}}</td>
              <td>{{order.quantity}}</td>
              <td>{{order.price}}</td>
            </tr>
            <tr>
              <td colspan="2">Subtotal</td>
              <td colspan="2">{{subtotal}}</td>
            </tr>
            <tr>
              <td colspan="2">Taxes</td>
              <td colspan="2">{{taxes}}</td>
            </tr>
            <tr>
              <td colspan="2"><b>Total</b></td>
              <td colspan="2"><b>{{total}}</b></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-md-12">
      <div class="col-md-6">
        <button (click)="backToFoodcourts()" class="btn btn-lg btn-block btn-primary text-uppercase">Back to
          foodcourts</button>
      </div>
      <div class="col-md-6">
        <button (click)="checkout()" class="btn btn-lg btn-block btn-success text-uppercase">Continue to Pay</button>
      </div>
    </div>
  </div>
</div>

<br />
<br />
<br />
<br />