<!-- All Food courts -->
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h3 class="page-header text-center">KFC Chennai!</h3>
      <div class="col-md-8">
        <table class="table table-hover" style="text-align: left;">
          <thead>
            <tr>
              <th colspan="5" style="text-align: center;">
                <h3>Available Items!</h3>
              </th>
            </tr>
            <tr>
              <th></th>
              <th>Item Name</th>
              <th>Availability</th>
              <th>Price</th>
              <th>Quantity</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of items; let i = index">
              <td><img src={{item.img.data.data}} /> </td>
              <td>{{item.name}}</td>
              <td>{{item.availability}}</td>
              <td>{{item.price}}</td>
              <td class="qty">
                <span class="minus-span minus bg-dark" id="minus{{i}}" (click)="removeItem(i)">-</span>
                <input type="number" class="qty-input count" id="counter{{i}}" name="qty" value="0" disabled>
                <span class="plus-span plus bg-dark" id="plus{{i}}" (click)="addItem(i, item.name)">+</span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-md-4">
        <table class="table table-hover" style="text-align: left;">
          <thead>
            <tr>
              <th colspan="4" style="text-align: center;">
                <h3>Your orders</h3>
              </th>
            </tr>
            <tr>
              <th>Item name</th>
              <th>Quantity</th>
              <th>Price</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Mushroom Soup</td>
              <td>2</td>
              <td>$300</td>
              <td class="text-right"><button class="btn btn-sm btn-danger"><i class="fa fa-trash"></i> </button> </td>
            </tr>
            <tr>
              <td>Tomato Soup</td>
              <td>1</td>
              <td>$200</td>
              <td class="text-right"><button class="btn btn-sm btn-danger"><i class="fa fa-trash"></i> </button> </td>
            </tr>
            <tr>
              <td>Vegetable Soup</td>
              <td>3</td>
              <td>$300</td>
              <td class="text-right"><button class="btn btn-sm btn-danger"><i class="fa fa-trash"></i> </button> </td>
            </tr>
            <tr>
              <td colspan="2">Subtotal</td>
              <td colspan="2">$800</td>
            </tr>
            <tr>
              <td colspan="2">Taxes</td>
              <td colspan="2">$164</td>
            </tr>
            <tr>
              <td colspan="2"><b>Total</b></td>
              <td colspan="2"><b>$964</b></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-md-12">
      <div class="col-md-6">
        <button routerLink="/" class="btn btn-lg btn-block btn-primary text-uppercase">Back to
          foodcourts</button>
      </div>
      <div class="col-md-6">
        <button routerLink="/consumer/order/checkout"
          class="btn btn-lg btn-block btn-success text-uppercase">Checkout</button>
      </div>
    </div>
  </div>
</div>

<br />
<br />
<br />
<br />